# dependencies
/node_modules
/febrero
/errores
/salida
extractorLineas.js
febrero2021trafico.tar.gz
package-lock.json
package.json
febreroTraficoDenso2021.json
incidencias/package-lock.json
incidencias/package.json
/octubre