<div class="container text-center">

    <div class="form-group">
        <input type="date" [value]="fechaConsulta" #fechaTrafico class="">
        <button class="btn btn-primary form" (click)="buscarFecha($event, fechaTrafico.value )">Buscar</button>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="paintLine" id="paintLine"
                (change)="pintarLineas($event)">
            <label class="form-check-label" for="paintLine">
                Pintar lineas
            </label>
        </div>
    </div>

    <div class="row ">
        <div class="col">
            <div class="card ">
                <i class="fas fa-chart-area"></i> CLIMA CDMX
                <div class="card-body" id="mapid"></div>
            </div>
        </div>
    </div>
</div>