@import "~leaflet.markercluster/dist/MarkerCluster.css";
.form-check-input,
.form-check-label {
    margin-right: 0.5em;
}

#mapid2 {
    height: 70vh;
    margin: 0px;
    padding: 400px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #4CAF50;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    border-radius: 0.25rem;
}
.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important;
    /*margin-right: 0.25rem !important;*/
    margin-left: 150px; 
}

.container.text-center {
    margin-top: 70px;
}